{% load static %}
<!--AREA CERTIFICADOS -->
<section class="area_certificados area_conteudo" id="conteudo_certificados">            
    <div class="container">
        <div class="row">                    
            <div class="col-md">
                <h1> <strong> ENSINO </strong></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quisquam, rerum deleniti impedit alias nulla possimus dolorum distinctio perferendis 
                accusantium minima deserunt maxime magni nesciunt dolor aliquam quas exercitationem sit.</p>
            </div>
            <div class="col-md">
                <h1> <strong> ENSINO </strong></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quisquam, rerum deleniti impedit alias nulla possimus dolorum distinctio perferendis 
                accusantium minima deserunt maxime magni nesciunt dolor aliquam quas exercitationem sit.</p>
            </div>
        </div>
    </div>
</section>
<!--TERMINA AREA CERTIFICADOS -->
