{% load static %}
<!--AREA EXPERIENCIA -->
<section class="area_experiencia area_conteudo " id="conteudo_experiencia">            
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mb-4">                        
                <h3>Experiencia profissional</h3>
            </div>                    
            <div class="col-md-6">                        
                <h6>Proceconta Serviços Contábeis & Empresariais, Porto Alegre </h6>
                <p>Estagiário</p>
                <ul>
                    <li>Auxiliar nos setores contábil, pessoal e financeiro</li>
                    <li>Responsável pelo setor de tecnologia e informação</li>
                </ul>
            </div>
            <div class="col-md-6">               
                <h6>Fundação de Ciência e Tecnologia (CIENTEC), Porto Alegre</h6>
                <p>Estagiário</p>
                <ul>
                    <li>Auxiliar no setor de Recursos Humanos</li>
                    <li>Responsável pelo controle de ponto dos funcionários</li>
                    <li>Responsável pelo controle de atestados médicos</li>
                </ul>
            </div>            
            
        </div>
    </div>
</section>
<!--TERMINA EXPERIENCIA -->
