{% extends 'base.html' %}
{% load static %}


{% block foto_index %}
<section class="">    
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-4 mt-4 imagemaki">                        
                <img class="imagemaki" src="{% static 'img/neifunk.jpg' %}" alt="foto_guilherme">
            </div>                    
            <div class="col-md-8 mt-4">                        
                <div class="col area_conteudo mt-4">
                    <h2>Guilherme Silva</h2>
                    <p>Tenho 21 anos</p>
                    <p></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quisquam, rerum deleniti impedit alias nulla possimus dolorum distinctio perferendis 
                    accusantium minima deserunt maxime magni nesciunt dolor aliquam quas exercitationem sit.</p>
                </div>
            </div> 
        </div>
    </div>                                 
</section>    
{% endblock %}

