{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap" rel="stylesheet">
        <title>Curriculo - Nei Guilherme</title>
        
    </head>
    <body>               
        <head>            
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark" id="nav-fixa">                
                <div class="container"> 

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-principal" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <nav class="collapse navbar-collapse " id="nav-principal">
                        <img src="{% static 'img/logo_tipo_preto2.png' %}" alt="logo_tipo" height="50">                        
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a href="#conteudo_sobre" class="nav-link">SOBRE</a>
                            </li>
                            <li class="nav-item">
                                <a href="#conteudo_experiencia" class="nav-link">EXPERIÊNCIA</a>
                            </li>
                            <li class="nav-item">
                                <a href="#conteudo_certificados" class="nav-link">CERTIFICADOS</a>
                            </li>
                            <li class="nav-item">
                                <a href="#conteudo_projetos" class="nav-link">PROJETOS</a>
                            </li>                          
                        </ul>
                    </nav>
                </div>
            </nav>
        </head>        

        {% block foto_index %} {% endblock %}          
        {% include 'experiencia.html' %}
        {% include 'certificados.html' %}  
        {% include 'projetos.html' %}                                       

        <footer class="mt-4 mb-4 ">
            <div class="container ">                
                <div class="teste">                    
                    <h4>Contato:</h4>
                    <ol class="list-group list-group-flush">
                        <li class="list-group-item">
                            <i class="bi bi-envelope mr-2"></i>guiuser1999@gmail.com                            
                        </li>
                        <li class="list-group-item">
                            <i class="bi bi-chat-quote mr-2"></i>(51) 99955-2742                      
                        </li>                           
                    </ol>                                
                            
                </div>
                <div class="d-flex justify-content-end teste2">
                    <a href="https://www.facebook.com/guisilvaro/" target="_blank" class="btn btn-outline-dark">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/gsilvaro_/" target="_blank" class="btn btn-outline-dark ml-2">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/nei-guilherme-silva-4815651b7/" target="_blank" class="btn btn-outline-dark ml-2">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/gsilvaro11" target="_blank" class="btn btn-outline-dark ml-2">
                        <i class="fab fa-github"></i>
                    </a>
                </div>                                                                
            </div>                      
        </footer>        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="static/js/config.js"></script>
    </body>
    
</html>